.login-form__title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.login-form__input-container {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: 3px solid #ff6f61;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
}

.label {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  transition: all 0.2s ease;
  pointer-events: none;
  color: #aaa;
}

input:focus + .label,
.label.active {
  top: -20px; /* Adjust to make label move up */
  left: 0;
  font-size: 14px; /* Change size if you want */
  color: #000; /* Active color */
}

.login-form button[type="submit"] {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  margin-top: 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-form__error {
  font-size: 14px;
  color: red;
  text-align: center;
}
